root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
cpp_wrap_preserve_blocks = never

[resharper_]
space_around_deref_in_trailing_return_type = true
